/* Estilo base para dispositivos móveis */
.themeIcon {
  position: relative;
  bottom: 80px;
  padding-left: 75vw; /* Inicialmente, assume-se uma tela pequena */
}

.headerBg {
  position: static;
  height: 25vw;
}

/* Para tablets ou telas pequenas (acima de 600px) */
@media (min-width: 600px) {
  .themeIcon {
    padding-left: 75vw; /* Ajuste conforme necessário para tablets */
  }
  .headerBg {
    position: static;
    height: 3vw;
  }
}

/* Para telas médias (acima de 900px) */
@media (min-width: 900px) {
  .themeIcon {
    padding-left: 90vw; /* Aumenta o padding para telas maiores */
  }
  .headerBg {
    position: static;
    height: 4vw;
  }
}

/* Para telas grandes (acima de 1200px) */
@media (min-width: 1200px) {
  .themeIcon {
    bottom: 95px;
    padding-left: 90vw; /* Mantém ou ajusta o padding para telas grandes */
  }
  .headerBg {
    position: static;
    height: 5vw;
  }
}

/* Para telas extra grandes (acima de 1500px) */
@media (min-width: 1500px) {
  .themeIcon {
    bottom: 80px;
    padding-left: 95vw; /* Opcional: ajuste adicional para telas muito grandes */
  }
  .headerBg {
    position: static;
    height: 5vw;
  }
}
