/* Estilo base para dispositivos móveis */
.themeIcon {
  position: relative;
  bottom: 80px;
  padding-left: 90vw; /* Inicialmente, assume-se uma tela pequena */
}

.headerBg {
  position: static;
  height: 20vw;
}

/* Telas Extra Pequenas (até 576px) */
@media screen and (max-width: 576px) {
  .themeIcon {
    position: relative;
    padding-left: 85vw; /* Ajuste para telas muito pequenas */
  }
  .headerBg {
    height: 22vw;
    max-height: 25vw;
  }
}

/* Para tablets ou telas pequenas (acima de 576px até 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .themeIcon {
    position: relative;
    padding-left: 92vw; /* Ajuste conforme necessário para telas pequenas */
  }
  .headerBg {
    height: 12vw;
  }
}

/* Para telas médias (acima de 768px até 992px) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .themeIcon {
    position: relative;
    padding-left: 90vw; /* Ajuste para tablets e dispositivos de tela média */
  }
  .headerBg {
    height: 10vw;
    max-height: 12vw;
  }
}

/* Para telas grandes (acima de 992px até 1200px) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .themeIcon {
    position: relative;
    padding-left: 65vw; /* Ajuste para desktops e laptops pequenos */
  }
  .headerBg {
    height: 10vw;
  }
}

/* Para telas grandes (acima de 1200px até 1500px) */
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .themeIcon {
    position: relative;

    padding-left: 95vw; /* Ajuste para telas grandes */
  }
  .headerBg {
    height: 6vw;
    max-height: 8vw;
  }
}

/* Para telas extra grandes (acima de 1500px) */
@media screen and (min-width: 1501px) {
  .themeIcon {
    bottom: 90px;
    padding-left: 95vw; /* Ajuste adicional para telas muito grandes */
  }
  .headerBg {
    height: 5vw;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .themeIcon {
    position: relative;
    bottom: 85px;
    padding-left: 95vw; /* Ajuste para desktops e laptops pequenos */
  }
  .headerBg {
    height: 8vw;
  }
}
